@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Wix+Madefor+Display:wght@400..800&display=swap');

body,
button,
input {
    font-family: "Wix Madefor Display", sans-serif;
}
body {
    background-color:#eee;
}
.aggiungicategoria {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 35%;
    margin: 3rem auto;
    padding: 3.5rem;
    border-radius: 0.5rem;
    border: 1px solid #dedede;
    background-color: #fff;
}
input, button {
    border-radius: 0.3rem;
    border: 1px solid #dedede;
    padding: 0.5rem;
}
#container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 3rem;
    justify-content: space-evenly;
}

#container > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 3rem;
    background-color: #fff;
    border-radius: 0.6rem;
    border: 1px solid #dedede;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}
#container h3 {
    background-color: #d3f2f6;
    margin: 0;
}

button {
    text-transform: uppercase;
    cursor: pointer;
}